{% extends 'header.html' %} {% block content %} {% if request.user.is_authenticated %}
<h2 class="text-center">Bienvenido {{ user.username | upper }}!</h2>
<img src='.../static/images/titulo_pokemon.png' alt="Pokemon Title" class="img-fluid mx-auto d-block mb-3">
<p class="text-center">¡Explorá el mundo de los Pokémon!</p>
{% else %}
<h2 class="text-center">Bienvenido!</h2>
{% endif %}
<p class="text-center">
    Mirá las imágenes desde <a href="{% url 'home' %}">este link.</a>
</p>
{% endblock %}