{% extends 'header.html' %} {% block content %} {% if request.user.is_authenticated %} 
{% load static %}
<div  style="width: 500px; margin: 0 auto;">
    <img src="{% static 'imagenes/titulo_pokemon.png' %}" alt="Bienvenida Pokémon"  class="img-fluid rounded">
</div>
<h2 class="text-center">Bienvenido {{ user.username | upper }}!</h2>
{% else %}
{% load static %}
<div class="text-center fw-bold">
    <h2 style="color: #000296a1;">Bienvenido a tu buscador</h2>
    <img src="{% static 'imagenes/titulo_pokemon.png' %}" alt="Bienvenida Pokémon" style="width: 500px;" class="img-fluid rounded">
</div>

{% endif %}
<p class="text-center">
    Mirá las imágenes desde <a href="{% url 'home' %}">la galeria!</a>
</p>
{% endblock %}